<div class="body">
	<div class="container">
		<div class="row">

			<div class="col-xs-3">
				<h2>User info</h2>
				<!-- image -->

				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
							<th> xj  </th>
						</tr>
						<tr>
							<th>introduction</th>
							<th> wtf </th>
						</tr>
					</tbody>
				</table>
			<div class="row">
				<p>edit</p>
			</div>

			<h2>New book</h2>
			<div class="field row">
				<p>title</p>
			</div>

			<div class="field row">
				<p>opinion</p>
			</div>

			<div class="actions row">
				<p>create</p>
			</div>

			</div>


			<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table table-hovoer table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			</div>

			
		</div>
	</div>
</div>
